%h4 Group By
%table.search
  %tr
    %th Primary Dimension
    %td{:class => class_for_attribute(@summarizer,:primary_dimension,'')}
      %select{ :name => 'summarizer[primary_dimension]' }
        - Summarizer::DimensionFields.collect{|d|d.dimension_name}.uniq.each do |d|
          %optgroup{ :label => d.titleize }
            = options_from_collection_for_select(Summarizer::DimensionFields.select{|f|f.dimension_name == d}, :key_name, :label, @summarizer.primary_dimension)
      - if attribute_error?(@summarizer, :primary_dimension)
        .field_error= @summarizer.errors[:primary_dimension]
  %tr
    %th Secondary Dimension
    %td{:class => class_for_attribute(@summarizer,:secondary_dimension,'')}
      %select{ :name => 'summarizer[secondary_dimension]' }
        - Summarizer::DimensionFields.collect{|d|d.dimension_name}.uniq.each do |d|
          %optgroup{ :label => d.titleize }
            = options_from_collection_for_select(Summarizer::DimensionFields.select{|f|f.dimension_name == d}, :key_name, :label, @summarizer.secondary_dimension)
      - if attribute_error?(@summarizer, :secondary_dimension)
        .field_error= @summarizer.errors[:secondary_dimension]
%h4 Aggregation Function
%table.search
  %tr
    %th Function
    %td
      %select{ :name => 'summarizer[function]' }
        = options_from_collection_for_select(Summarizer::FunctionFields, :id, :label, @summarizer.secondary_dimension)
