- @page_title = "Summarizer List"
%h1.page-title= @page_title
%a{:href => url_for(:action => 'edit') } Create New Summarizer
%table.list
  %tr
    %th Name
    %th Description
    %th Operations
  - @summarizers.each do |h|
    %tr
      %td= h(h.name)
      %td= h(h.description)
      %td
        %ul.actions
          %li
            %a{:href => url_for(:action => 'edit', :id => h) } Edit
          %li= link_to('Delete', {:action => 'destroy', :id => h}, {:confirm => "Are you sure you want to delete summarizer named #{h.name}?", :method => :post})
= render(:partial => '/common/pagination', :locals => {:record_pages => @summarizer_pages})
