- @page_title = "Host: #{h(@record.name)}"
%h1.page-title= @page_title

%table.list
  %tr
    %th Name
    %th Success Rate
    %th Revision
    %th Time
    %th Operations
  - @test_runs.each do |t|
    %tr
      %td= h(t.name)
      %td= h(t.success_rate)
      %td= h(t.revision)
      %td= h(t.occured_at)
      %td
        %ul.actions
          %li= link_for(t, :label => "Show")
          = test_run_delete_link(t)
= render(:partial => '/common/pagination', :locals => {:record_pages => @test_run_pages})
