%table.details
  %tr
    %th Name
    %td= h(@record.name)
  %tr
    %th Target
    %td= link_for(@record.build_target)
  %tr
    %th Revision
    %td= h(@record.revision)
  %tr
    %th Time
    %td= h(@record.occured_at)
  %tr
    %th Success Rate
    %td= @record.success_rate
- if @record.non_successes.size > 0
  %h3 Unsuccessful Tests
  %table.list
    %tr
      %th Test Configuration
      %th Group
      %th Test
      %th Result
      %th Reason
      %th Operations
    - @record.non_successes.each do |t|
      %tr
        %td= link_for(t.group.test_configuration)
        %td= link_for(t.group)
        %td= h(t.name)
        %td= h(t.result)
        %td= h(t.result_explanation)
        %td
          %ul.actions
            %li= link_to('Show', {:controller => "/test_case", :action => 'show'}.merge(gen_link_options(t)))
