- @content_for_breadcrumbs = draw_breadcrumbs(@record)
- @page_title = "Test Run Summary: #{h(@record.name)}.#{@record.id}"
%h1.page-title= @page_title

%table.details
  %tr
    %th Name
    %td= h(@record.name)
  %tr
    %th Build Target
    %td= link_for(@record.build_target)
  %tr
    %th Revision
    %td= revision_link(@record.revision)
  %tr
    %th Time
    %td= h(@record.occurred_at)
  %tr
    %th Success Rate
    %td= @record.success_rate
- if @record.non_successes.size > 0
  %h3 Unsuccessful Tests
  %table.list
    %tr
      %th Build Configuration
      %th Test Configuration
      %th Group
      %th Test
      %th Result
      %th Reason
      %th Operations
    - @record.non_successes.each do |t|
      %tr
        %td= link_for(t.group.test_configuration.build_configuration)
        %td= link_for(t.group.test_configuration)
        %td= link_for(t.group)
        %td= h(t.name)
        %td= h(t.result)
        %td= h(t.result_explanation)
        %td
          %ul.actions
            %li= link_for(t, :label => 'Show')
