- @content_for_breadcrumbs = draw_breadcrumbs(@record.parent_node, h(@record.label))
- @page_title = "Test Run: #{h(@record.label)}"
%h1.page-title= @page_title

%table.details
  %tr
    %th Name
    %td= h(@record.name)
  %tr
    %th Target
    %td= link_for(@record.build_target)
  %tr
    %th Revision
    %td= revision_link(@record.revision)
  %tr
    %th Start Time
    %td= h(@record.start_time)
  %tr
    %th End Time
    %td= h(@record.end_time)
  %tr
    %th Success Rate
    %td= @record.success_rate
  %tr
    %th Import Date
    %td= @record.created_at
%ul.actions
  %li= link_for(@record, :label => 'Summary', :action => 'show_summary')
  %li= link_for(@record, :label => 'Regression Report', :controller => '/results/test_run', :action => 'regression_report')
  %li= link_for(@record, :label => 'Statistics Report', :controller => '/results/test_run', :action => 'statistics_report')
  - if @record.variant == 'perf'
    %li= link_for(@record, :label => 'Performance Report', :controller => '/results/test_run', :action => 'performance_report')
.clearer
%h3 Build Runs
%table.list
  %tr
    %th Build
    %th Result
    %th
  - @record.build_configurations.each do |bc|
    %tr{:class => cycle('odd','even')}
      %td= h(bc.label)
      %td= h(bc.result)
      %td= link_for(bc, :label => 'Details')

%h3 Test Configurations
%table.list
  %tr
    %th Build Configuration
    %th Name
    %th Success Rate
    %th
  - @record.build_configurations.each do |bc|
    - bc.test_configurations.each do |tc|
      %tr{:class => cycle('odd','even')}
        %td= link_for(bc)
        %td= h(tc.label)
        %td= tc.success_rate
        %td= link_for(tc, :label => 'Details')
