- @content_for_breadcrumbs = draw_breadcrumbs(@report.test_run, 'statistics_report')
- @page_title = "Statistics Report: #{h(@report.test_run.label)}"
- scm_url = SystemSetting['scm.url']
%h1.page-title= @page_title
%ul.actions
  %li= link_for(@report.test_run, :label => 'Summary', :action => 'show_summary')
  %li= link_for(@report.test_run, :label => 'Statistics Report', :controller => '/results/test_run', :action => 'statistics_report')
  - if @report.test_run.variant == 'perf'
    %li= link_for(@report.test_run, :label => 'Performance Report', :controller => '/results/test_run', :action => 'performance_report')
.clearer
= legend_header()

%h2 Test Runs Covered By Report
%table.list
  %tr
    %th
    %th Name
    %th Revision
    %th Time
  - @report.test_runs.each do |t|
    %tr{:class => cycle('odd','even')}
      %td
        %ul.actions
          %li= link_for(t, :label => "Details")
      %td= h(t.label)
      %td= revision_link_for_url(scm_url, t.revision)
      %td= t.start_time

- if @report.statistics.size > 0 or @report.test_runs.size > 1
  %h2 Statistics
  %table.report
    %tr
      %th.pivot
      - @report.test_runs.each do |tr|
        %th.column= tr.label
      %th.column chart
    %tr
      %th.row Success Rate
      - @report.test_runs.each do |tr|
        %td= h("#{tr.successes.size}/#{tr.test_case_executions.size}")
      %td
    - @report.statistics.each do |r|
      %tr
        %th.row= h(r['name'])
        - @report.test_runs.each do |tr|
          %td= perf_stat(tr.id, r)
        %td
          %a{:href => stat_img(r,true)}
            %img{:src => stat_img(r,false)}
