- @page_title = "Dashboard"
%h1.page-title Recent Test Runs

%table.list
  %tr
    %th Host
    %th Name
    %th Revision
    %th Time
    %th Success Rate
    %th Operations
  - @test_runs.each do |t|
    %tr
      %td= link_for(t.host)
      %td= h(t.name)
      %td= h(t.revision)
      %td= "#{time_ago_in_words(t.occured_at)} ago"
      %td= t.success_rate
      %td
        %ul.actions
          %li= link_for(t, :label => "Show Summary", :action => 'show_summary')
= render(:partial => '/common/pagination', :locals => {:record_pages => @test_run_pages})
