%table.details
  %tr
    %th Test Configuration(s)
    %td= @record.test_configurations.collect {|tc| link_for(tc)}.join(', ')
  %tr
    %th Build Configuration
    %td= link_for(@record.build_configuration)
  %tr
    %th Result
    %td= h(@record.result)
  %tr
    %th Running Time
    %td= "#{h(@record.time)} ms"
  %tr
    %th Output
    %td= link_to('...', :action => 'show_output', :id => @record)
