%div
  = render(:partial => 'errors')
  %table.search
    %tr
      %th Name
      %td{:class => class_for_attribute(@query,:name,'')}
        %input{ :type => 'text', :name => 'query[name]', :value => @query.name }/
        - if attribute_error?(@query, :name)
          .field_error= @query.errors[:name]
    %tr
      %th Description
      %td{:class => class_for_attribute(@query,:description,'')}
        %textarea{ :name => 'query[description]', :rows => 5 , :cols => 40 }= @query.description
        - if attribute_error?(@query, :description)
          .field_error= @query.errors[:description]
  %hr/
  %h4 Filter
  %table.search
    %tr
      %th Filter
      %td
        %select{ :name => 'query[filter_id]' }
          = options_from_collection_for_select(@filters, :id, :label, @query.filter_id)
  = render(:partial => 'fields')
  %hr/
  %ul.actions
    %li
      %button{:type => 'submit'}
        = save_label
    %li= link_to('Cancel', :action => 'list')
  .clearer
