- @content_for_breadcrumbs = draw_breadcrumbs(@record.parent_node, h(@record.name))
- @page_title = "Build Configuration: #{h(@record.name)}"
%h1.page-title= @page_title

%table.details
  %tr
    %th Result
    %td= h(@record.result)
  %tr
    %th Running Time
    %td= "#{h(@record.time)} ms"
  %tr
    %th Output
    %td= link_for(@record, :label => '...Output...', :action => 'show_output')

%h3 Configuration Parameters
%table.details
  - @record.params.each_pair do |k,v|
    %tr{:class => cycle('odd','even')}
      %th= h(k)
      %td= h(v)

%h3 Test Configurations
%table.list
  %tr
    %th Name
    %th Success Rate
    %th Operations
  - @record.test_configurations.each do |tc|
    %tr{:class => cycle('odd','even')}
      %td= h(tc.name)
      %td= h(tc.success_rate)
      %td
        %ul.actions
          %li= link_for(tc, :label => 'Show')

