%h2= "Build Configuration: #{h(@record.name)}"

%table.details
  %tr
    %th Test Configuration(s)
    %td= @record.test_configurations.collect {|tc| link_for(tc)}.join(', ')
  %tr
    %th Result
    %td= h(@record.result)
  %tr
    %th Running Time
    %td= "#{h(@record.time)} ms"
  %tr
    %th Output
    %td= link_for(@record, :label => '...Output...', :action => 'show_output')


%h3 Configuration Parameters
%table.details
  - @record.params.each_pair do |k,v|
    %tr
      %th= h(k)
      %td= h(v)
