- @page_title = "User: #{h(@record.username)}"
%h1.page-title= @page_title
%table.details
  %tr
    %th Admin?
    %td= h(@record.admin?)
  %tr
    %th Login Enabled?
    %td= h(@record.active?)
%ul.actions
  %li
    - admin_action = @record.admin? ? :disable_admin : :enable_admin
    = link_to('Toggle Admin Status', {:controller => '/admin/user', :action => admin_action, :id => @record}, {:method => :post})
  %li
    - active_action = @record.active? ? :deactivate : :activate
    - active_label = @record.active? ? 'Deactivate' : 'Activate'
    = link_to(active_label, {:controller => '/admin/user', :action => active_action, :id => @record}, {:method => :post})
  %li
    = link_to('Delete User', {:controller => '/admin/user', :action => :destroy, :id => @record}, {:method => :post})
