%h2= "Test Configuration: #{h(@record.name)}"

%table.details
  %tr
    %th Build Run
    %td= link_to(h(@record.build_run.label), :controller => '/build_run', :action => 'show', :id => @record.build_run_id)

%h3 Configuration Parameters
%table.details
  - @record.params.each_pair do |k,v|
    %tr
      %th= h(k)
      %td= h(v)
%h3 Groups
%table.list
  %tr
    %th Group
    %th Success Rate
    %th Operations
  - @record.groups.each do |g|
    %tr
      %td= h(g.label)
      %td= "#{g.successes.count}/#{g.test_cases.count}"
      %td= link_for(g, :label => 'Show')
