- @page_title = "System Info"
.sysinfo
  %h2 Report Data
  %table
    %tr
      %th Result Facts
      %td= Olap::ResultFact.count(:conditions => 'source_id IS NULL')
      %td.operations= link_to('Purge', {:action => 'purge_historic_result_facts'}, :method => :post)
    %tr
      %th Statistic Facts
      %td= Olap::StatisticFact.count(:conditions => 'source_id IS NULL')
      %td.operations= link_to('Purge', {:action => 'purge_historic_statistic_facts'}, :method => :post)
    %tr
      %th Orphan Dimensions
      %td
        %ul
          - @orhpan_dimensions.each do |d|
            %li= "#{d[0]}: #{d[1]}"
      %td.operations= link_to('Purge', {:action => 'purge_orphan_dimensions'}, :method => :post)
