%h1.page-title Search Parameters
%form{:action => url_for(:action => 'list'), :method => 'get'}
  %div
    = render(:partial => '/explorer/filter/errors')
    = render(:partial => '/explorer/filter/form')
    %h4 Group By
    %table.search
      %tr
        %th Row
        %td{:class => class_for_attribute(@search,:row,'')}
          = fk_select(:row, :any => false, :values => Search::ValidDimensionFieldIds, :labels => Search::DimensionFieldLabels, :name => 'search')
          - if attribute_error?(@search, :row)
            .field_error= @search.errors[:row]
      %tr
        %th Column
        %td{:class => class_for_attribute(@search,:column,'')}
          = fk_select(:column, :any => false, :values => Search::ValidDimensionFieldIds, :labels => Search::DimensionFieldLabels, :name => 'search')
          - if attribute_error?(@search, :column)
            .field_error= @search.errors[:column]
    %h4 Aggregation Function
    %table.search
      %tr
        %th Function
        %td= fk_select(:function, :values => Search::FunctionFields, :name => 'search')
    %ul.actions
      %li
        %button{:type => 'submit'} Search
    .clearer

- if @results
  %h1 Results
  %table.report
    %tr
      %th.pivot
      - @results.column_headers.each do |c|
        %th.column= h(@results.column.label_for(c))
    - @results.row_headers.each_with_index do |r,r_index|
      %tr
        %th.row= h(@results.row.label_for(r))
        - 0.upto(@results.column_headers.size - 1) do |c_index|
          %td= h(@results.tabular_data[r_index][c_index])
  %h1 Results
  %table.report
    - @results.data.each do |d|
      %tr
        - d.each_pair do |k,v|
          %td= h(v)
