%form{:action => url_for(:action => 'list'), :method => 'get'}
  %div
    %h2.page-title Filter Parameters
    = render(:partial => '/explorer/filter/errors')
    = render(:partial => '/explorer/filter/form')
    %h2 Summarizer Parameters
    = render(:partial => '/explorer/summarizer/errors')
    = render(:partial => '/explorer/summarizer/form')
    %ul.actions
      %li
        %button{:type => 'submit'} Search
    .clearer

- if @results
  %h1 Results
  %table.report
    %tr
      %th.pivot
      - @results.column_headers.each do |c|
        %th.column= h(@results.column.label_for(c))
    - @results.row_headers.each_with_index do |r,r_index|
      %tr
        %th.row= h(@results.row.label_for(r))
        - 0.upto(@results.column_headers.size - 1) do |c_index|
          %td= h(@results.tabular_data[r_index][c_index])
  %h1 Results
  %table.report
    - @results.data.each do |d|
      %tr
        - d.each_pair do |k,v|
          %td= h(v)
  %h2 SQL
  .sql= @results.sql
