%table.details
  %tr
    %th Name
    %td= h(@record.name)
  %tr
    %th Target
    %td= link_for(@record.build_target)
  %tr
    %th Revision
    %td= h(@record.revision)
  %tr
    %th Time
    %td= h(@record.occured_at)
  %tr
    %th Success Rate
    %td= "#{@record.successes.count}/#{@record.test_cases.count}"
%h3 Build Runs
%ul
  - @record.build_runs.each do |br|
    %li= link_for(br)
- if @record.failures.size > 0
  %h3 Failures
  %table.list
    %tr
      %th Build Configuration
      %th Test Configuration
      %th Group
      %th Test
      %th Reason
      %th Operations
    - @record.failures.each do |t|
      %tr
        %td= link_for(BuildConfiguration.find(t.build_configuration_id))
        %td= link_for(TestConfiguration.find(t.test_configuration_id))
        %td= link_for(Group.find(t.group_id))
        %td= h(t.name)
        %td= h(t.result_explanation)
        %td
          %ul.actions
            %li= link_to('Show', {:controller => "/test_case", :action => 'show'}.merge(gen_link_options(t)))
