- @content_for_breadcrumbs = draw_breadcrumbs(@record.parent_node, h(@record.name))
- @page_title = "Test Configuration: #{h(@record.name)}"
%h1.page-title= @page_title

%h3 Configuration Parameters
%table.details
  - @record.params.each_pair do |k,v|
    %tr
      %th= h(k)
      %td= h(v)
%h3 Groups
%table.list
  %tr
    %th Group
    %th Success Rate
    %th
  - @record.groups.each do |g|
    %tr{:class => cycle('odd','even')}
      %td= h(g.label)
      %td= g.success_rate
      %td= link_for(g, :label => 'Details')
