- @content_for_breadcrumbs = draw_breadcrumbs(@record.parent_node, h(@record.name))
- @page_title = "Group: #{h(@record.name)}"
%h1.page-title= @page_title

%table.list
  %tr
    %th Test
    %th Result
    %th Reason
    %th Operations
  - @record.test_cases.each do |t|
    %tr
      %td= h(t.name)
      %td= h(t.result)
      %td= h(t.result_explanation)
      %td
        %ul.actions
          %li= link_for(t, :label => 'Show')
