%h2= "Group: #{h(@record.name)}"

%table.list
  %tr
    %th Test
    %th Result
    %th Reason
    %th Operations
  - @record.test_cases.each do |t|
    %tr
      %td= h(t.name)
      %td= h(t.result)
      %td= h(t.result_explanation)
      %td
        %ul.actions
          %li= link_for(t, :label => 'Show')
