%div
  = render(:partial => 'errors')
  %table.search
    %tr
      %th Name
      %td{:class => class_for_attribute(@report,:name,'')}
        %input{ :type => 'text', :name => 'report[name]', :value => @report.name }/
        - if attribute_error?(@report, :name)
          .field_error= @report.errors[:name]
    %tr
      %th Description
      %td{:class => class_for_attribute(@report,:description,'')}
        %textarea{ :name => 'report[description]', :rows => 5 , :cols => 40 }= @report.description
        - if attribute_error?(@report, :description)
          .field_error= @report.errors[:description]
  %hr/
  %h4 Query
  %table.search
    %tr
      %th Query
      %td
        %select{ :name => 'report[query_id]' }
          = options_from_collection_for_select(@queries, :id, :label, @report.query_id)
  = render(:partial => 'fields')
  %hr/
  %ul.actions
    %li
      %button{:type => 'submit'}
        = save_label
    %li= link_to('Cancel', :action => 'list')
  .clearer
