- @page_title = "Data Explorer"
%form#report_form{:action => url_for(:action => @action_name), :method => 'post'}
  %div
    %h2.page-title Filter Parameters
    = render(:partial => '/explorer/filter/errors')
    = render(:partial => '/explorer/filter/fields')
    %h2 Query Parameters
    = render(:partial => '/explorer/query/errors')
    = render(:partial => '/explorer/query/fields')
    %h2 Presentation
    %table.search
      %tr
        %th Type
        %td
          %select{:name => 'presentation'}
            = options_from_collection_for_select(@presentations, :id, :name, params[:presentation].to_i)
    %ul.actions
      %li
        %button{:type => 'submit'} Search
    .clearer
- if @results
  %h1.page-title Results
  = render(:partial => "presentations/#{@presentation.key}")
