- @page_title = "Reports"
%h1.page-title= @page_title
%p= "CatTrack reports on the test results in a number of mechanisms. We have a regression report for every test run, a #{link_to('data explorer', :controller => 'explorer/report', :action => 'adhoc')} and a list of saved reports presented below."

%table.list
  %tr
    %th Name
    %th Description
    %th Operations
  - @reports.each do |h|
    %tr
      %td= h(h.name)
      %td= h(h.description)
      %td
        %ul.actions
          %li
            %a{:href => url_for(:action => 'show', :key => h.key) } Show
= render(:partial => '/common/pagination', :locals => {:record_pages => @report_pages})
