- if @use_transitional
  !!!
- else
  !!! Strict
%html{ :xmlns => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en',  :lang => 'en' }
  %head
    %title= @page_title
    %meta{ 'http-equiv' => 'Content-Language', 'content' => 'en-us' }/
    %meta{ 'http-equiv' => 'Content-Type', 'content' => 'text/html; charset=utf-8' }/
    %link{ :rel => 'shortcut icon', :href => '/favicon.ico', :type => 'image/x-icon' }/
    = stylesheet_link_tag('reset-fonts-grids')
    = stylesheet_link_tag('application')
  %body{ :id => "#{controller.controller_name}__#{@action_name}" }
    #doc
      #hd
        .headerTitle= link_to( 'Jikes<span>RVM</span>', :controller => '/dashboard')
        .headerUserControls
          - if is_authenticated?
            %span= "User: #{current_user.username}"
            = link_to('Logout', {:controller => '/security', :action => 'logout'}, {:method => :post})
          - else
            = link_to('Login', :controller => '/security', :action => 'login')
        .clearer
        .subHeader
          %span.doNotDisplay Quick Links:
          %p
            = link_to( 'Home', :controller => '/dashboard', :action => 'index' )
            |
            = link_to( 'Browse Hosts', :controller => '/host', :action => 'list' )
            - if (is_authenticated? and current_user.uploader?)
              |
              = link_to( 'Upload Results', :controller => '/test_run', :action => 'new' )
            - if (is_authenticated? and current_user.admin?)
              |
              = link_to( 'Administration', :controller => '/admin/dashboard', :action => 'index' )
      #bd
        %table.layout
          %tr
            - menu = menu_name
            - if menu
              %td.menu= render(:partial => menu)
            %td
              .main-copy
                = draw_breadcrumbs(@record) if @record
                = render(:partial => '/common/flash_messages')
                = yield
      #ft= "Powered by CatTrack (Version \##{db_version})."
    - if RAILS_ENV == 'development'
      %center
        %button{ :onclick => 'show_debug_popup(); return false;' } Show debug popup
      = debug_popup
