- @content_for_breadcrumbs = draw_breadcrumbs(@record.parent_node, h(@record.name))
- @page_title = "Test Case: #{h(@record.name)}"
%h1.page-title= @page_title

%h3 Test Parameters
%table.details
  %tr
    %th Classname
    %td= h(@record.classname)
  %tr
    %th Args
    %td= h(@record.args)
  %tr
    %th Working Directory
    %td= h(@record.working_directory)
  %tr
    %th Command
    %td= h(@record.command)
  - @record.params.each_pair do |k,v|
    %tr
      %th= h(k.humanize)
      %td= h(v)

%h3 Results
%table.list
  %tr
    %th Name
    %th Result
    %th Exit Code
    %th Running Time
    %th Statistics
    %th Operations
  - @record.test_case_results.each do |r|
    %tr
      %td= h(r.name)
      %td= "#{h(r.result)} #{h(r.result_explanation)}"
      %td= h(r.exit_code)
      %td= "#{h(r.time)} ms"
      %td
        - if r.statistics.size > 0 or r.numerical_statistics.size > 0
          %ul
            - r.statistics.each_pair do |k,v|
              %li= "#{h(k)}=#{h(v)}"
            - r.numerical_statistics.each_pair do |k,v|
              %li= "#{h(k)}=#{h(v)}"
      %td= link_for(r, :label => 'Show Output')
